input {
	width: 50% !important; 
}

.conover {
	float: left !important;
}

.erik {
	float: right !important;
}

.dokter {
	margin-left: 200px;
	margin-right: 200px;
}

.dokter-name {
	font-size: 1.2em;
	font-weight: bolder;
}